.container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
   

    transform: translate(-50%, -50%);
    border: 1px solid #100f0f;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.box {
    flex: 1; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px; 
}


.box + .box {
    margin-top: 20px; }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    outline: none; 
    border: 1px solid #ccc; 
    transition: border-color 0.3s ease; 
}

input:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

p a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}