/* MessageList.css */
.message-list {
  margin-top: 20px;
}

.message-list-heading {
  font-size: 18px;
}

.message-list-container {
  list-style: none;
  padding: 0;
}

.message-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.sender-message {
  background-color: #e6f2ff;
}

.receiver-message {
  background-color: #f0f0f0;
}

/* MainMessage.css */
.followers-list {
  margin-top: 20px;
}

.followers-list h2 {
  font-size: 18px;
}

.followers-list ul {
  list-style: none;
  padding: 0;
}

.followers-list li {
  cursor: pointer;
  padding: 5px 0;
}

.followers-list li:hover {
  background-color: #f0f0f0;
}
