/* MessageList.css */
.message-list {
  margin-top: 20px;
}

.message-list-heading {
  margin-bottom: 10px;
}

.message-list-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  width: 100%; /* Ensure the container takes up the full width */
}

.message-item {
  width: fit-content; /* Set the width to fit the content */
  margin-right: 10px; /* Add space between messages */
  margin-bottom: 10px; /* Add space between rows */
}

.sender-message {
  align-self: flex-end;
  margin-left: auto;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.receiver-message {
  align-self: flex-start;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}

.message-sender {
  font-weight: bold;
  margin-right: 5px;
}

.message-content {
  padding: 5px;
  max-width: fit-content;
}

.message-timestamp {
  font-size: 0.8em;
  color: #999;
  margin-top: 5px; /* Add space between message content and timestamp */
}