.container {
    display: flex;
    height: 100vh;
    background-color:black ;
  }
  
  /* .sidebar-container {
    flex: 1; 
    
  } */
  
  .add-post-container {
    flex: 2; 
    margin-left: 25%;
  }
  
