
.post-container {
  width: 600px; 
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box; 
}

.post-container .username {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; 
}

.post-container .image-container {
  margin-bottom: 10px; 
}
.post-container img {
  width: 100%;
  height: auto; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.post-container .interaction {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-top: 10px;
}


.post-container .interaction span {
  cursor: pointer;
}

.post-container .interaction button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #385185;
}

.error-message {
  color: red;
}

.center-container {
  display: flex;
  justify-content: center;
}
